.conteiner {
    width: 1000px;
	min-height: 400px;
    background-color: gainsboro;
    margin: 100px auto;
    border-radius: 5px;
    border: 1px solid black;
    }
ul {
    padding: 0px;
}

li {
    list-style: none;
    padding: 10px;
    
}
.left{
    float: left;
    width: 50%;
	padding: 10px;
}
.right{
    float: left;
}
input{
	float: right;
}

	tr:nth-child(2n) {
    background: #f0f0f0;
   
}

.nav{
	padding: 0px;
}
 ul li a {
    display: block;
    box-sizing: border-box;
    padding: 10px 15px 10px 15px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgba(28, 29, 35, 0.2);
}

 ul li a:hover {
    border-left: 10px solid rgba(28, 29, 35, 1);
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    padding: 10px;
}

 ul {
    list-style: none;
}