.conteiner {
    width: 500px;
    height: 400px;
    background-color: gainsboro;
    margin: 100px auto;
    border-radius: 5px;
    border: 1px solid black;
    }
ul {
    padding: 0px;
}

li {
    list-style: none;
    padding: 10px;
    
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: left;
}